<app-navbar></app-navbar>

<div class="container">
    <form #addteamform="ngForm" (ngSubmit)="formsubmit(addteamform.value)">
        <div class="mb-3 my-5">
            <label for="exampleInputEmail1" class="form-label">Enter Team Name</label>
            <input type="text" #teamnames="ngModel" required class="form-control" name="teamnames" aria-describedby="emailHelp" ngModel >
            <span style="color: red;" *ngIf="!teamnames.valid&&teamnames.touched">Please enter team name</span>
            <div id="emailHelp" class="form-text"></div>
        </div>
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
        </div> -->
        <!-- <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Select something</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div> -->
        <button type="submit" class="btn btn-primary" [disabled]="!addteamform.valid">Submit</button>
    </form>
</div>